* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  font-size: 0.9rem;
}


body{
    background-color: #14120b
}

.site-header {
  width: 100%;
  padding: 2px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.nav{
    display: flex;
    gap: 24px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
       }
 

.header-actions {
     display: flex;
     gap: 16px;
}

.header-actions a {
     text-decoration: none;
    
 }
 
 .login {
    border: 1px solid #ffffff;
    background-color: #14120b;
    color: #ffffff;
    padding: 4px 12px 4px 12px;
    border-radius: 40px;
    font-size: 0.9rem;

 }

 .ct{
    border-radius: 1px;
    border-color: #ffffff;
    background-color: #ffffff;
    color: #14120b;
    padding: 4px 12px 4px 12px;
    border-radius: 40px;
    font-size: 0.9rem

 }


 .section-1{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 100px 150px;
 }


.heading{
    margin-bottom: 24px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 400;
}

.download{
    margin-bottom: 24px;
    width: 14rem;
    height: 3rem;
    border-radius: 4rem;
    font-size: 1rem;
    margin-bottom: 4rem;
}

.testimonial{
     padding: 60px 40px;
     text-align: center;

}
.trusted-text{
    color: #ffffff;
    margin-bottom: 2rem;
}

.logo-row {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-card {
  width: 10rem;
  height: 6rem;
  background: #1b1913;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-card img {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}


.agent-section{
    display: flex;
    justify-content: center;
    
    

}


.agent-container{
    display: flex;
    background: #1b1913;
    border-radius: 12px;
    margin-bottom: 2rem;       
}

.agent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agent p{
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 360px;
    margin-left: 16px;
         
}

.agent a {
  display: inline-block;
  margin-top: 20px;
  margin-left: 16px;
  color: #ff7a18;
  text-decoration: none;
  font-weight: 500;
}

.agent-visual{

    padding: 16px;
}


.testimonials {
  padding: 100px 0;
  text-align: center;
}

.testimonials h2 {
  margin-bottom: 30px;
  color: white; 
  font-weight: 400;
  font-size: 2rem;
}

.testimonial-grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 12px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: left;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
  color: rgba(255,255,255,0.9);
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  color: #ffffff;
}

.author img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.author strong {
  display: block;
  font-size: 14px;
}

.author span {
  font-size: 13px;
  color: rgba(255,255,255,0.6);
}

.frontier {
  padding: 100px 0;
}

.frontier h2 {
  margin-bottom: 40px;
  text-align: center;
  color: white; 
  font-weight: 400;
  font-size: 2rem;
}

.frontier-grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.frontier-card {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 12px;
  padding: 24px;

  display: flex;
  flex-direction: column;
}

.frontier-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: white; 
  font-weight: 400
}

.frontier-card p {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255,255,255,0.75);
}

.frontier-card a {
  margin: 12px 0 20px;
  color: #ff7a18;
  text-decoration: none;
  font-size: 14px;
}

.preview {
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  padding: 16px;
  margin-top: auto;
}

.preview img {
  width: 100%;
  border-radius: 8px;
}

.changelog {
  margin-left: 150px;
}

.changelog h2 {
  color: white; 
  font-weight: 400;
  font-size: 2rem;
  margin-left: 36px;
  margin-bottom: 20px;
  text-align: left;
}

.changelog-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  max-width: 1200px;
  padding: 0 40px;
}

.change-card {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.version {
  display: inline-block;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  width: fit-content;
  color: #ffffff;
}

.date {
  font-size: 13px;
  color: rgba(255,255,255,0.6);
}

.change-card h3 {
  font-size: 15px;
  line-height: 1.4;
  color: #ffffff  ;
}

.changelog-link {
  display: inline-block;
  margin-top: 24px;
  color: #ff7a18;
  text-decoration: none;
  padding-left: 40px;
}


 .join-us{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 100px 150px;
 }


 
 .Join{
    border-radius: 1px;
    border-color: #ffffff;
    background-color: #ffffff;
    color: #14120b;
    width: 80px;
    height: 24px;
    border-radius: 40px;
    font-size: 0.9rem;
    margin-bottom: 40px;

 }


 .highlights {
  padding: 100px 0;
}

.highlights-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
}

/* LEFT */
.highlights-title h3 {
  
  font-size: 16px;
  font-weight: 500;
  color: rgba(255,255,255,0.8);
}

/* RIGHT */
.highlights-list {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.highlight-card {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 10px;
  padding: 20px;
}

.highlight-card h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.highlight-card p {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255,255,255,0.7);
  margin-bottom: 10px;
}

.highlight-card span {
  font-size: 13px;
  color: rgba(255,255,255,0.5);
}

.view-more {
  margin-top: 10px;
  color: #ff7a18;
  text-decoration: none;
  font-size: 14px;
}


.cta {
  min-height: 60vh;                 /* big section like screenshot */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;

  text-align: center;
  background: #000000;
  margin-bottom: 24px;
}

.cta h2 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 24px;
  color: #ffffff;
}

.cta-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  padding: 12px 22px;
  border-radius: 999px;

  background: #ffffff;
  
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}


.site-footer {
  background: #14120b;
  padding: 80px 0 40px;
  color: #fff;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  margin-bottom: 60px;
}

.footer-col h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 14px;
  color: rgba(255,255,255,0.6);
}

.footer-col a {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
}

.footer-col a:hover {
  text-decoration: underline;
}

/* bottom bar */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: rgba(255,255,255,0.6);
}

.footer-right {
  display: flex;
  gap: 10px;
}

.icon-btn,
.lang-btn {
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  color: #fff;
  padding: 6px 10px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 13px;
}



